# 데이터 전처리 및 추가

## 1. 서울시 응급실 위치 정보 (서울 열린데이터 광장)

- [서울시 응급실 위치 정보](https://www.data.go.kr/data/15088910/fileData.do)

- 서울특별시 응급실 위치 정보
- 주소, 병원분류명, 응급의료기관, 응급실운영여부, 비고, 기관설명상세, 간이약도, 기관명, 대표전화, 응급실 전화, 진료시간, 병원경도, 병원위도 등의 항목을 제공
- 서울특별시 병의원 위치 정보 데이터에서 duryeryn의 값이 1인 데이터만 view테이블로 생성하여 응급실 데이터를 생성
- 최신수정일자	2025.02.08.
- 제공기관	서울특별시

In [2]:
import pandas as pd

# 데이터 확인
emergency = pd.read_csv('./Data/서울시 응급실 위치 정보.csv', encoding='cp949')
emergency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기관ID        72 non-null     object
 1   주소          72 non-null     object
 2   병원분류        72 non-null     object
 3   병원분류명       72 non-null     object
 4   응급의료기관코드    72 non-null     object
 5   응급의료기관코드명   72 non-null     object
 6   응급실운영여부     72 non-null     int64
 7   비고          70 non-null     object
 8   기관설명상세      72 non-null     object
 9   간이약도        72 non-null     object
 10  기관명         72 non-null     object
 11  대표전화1       72 non-null     object
 12  응급실전화       72 non-null     object
 13  진료시간(월요일)C  72 non-null     int64
 14  진료시간(화요일)C  72 non-null     int64
 15  진료시간(수요일)C  72 non-null     int64
 16  진료시간(목요일)C  72 non-null     int64
 17  진료시간(금요일)C  72 non-null     int64
 18  진료시간(토요일)C  72 non-null     int64
 19  진료시간(일요일)C  72 non-null     int64
 20  진료시간(공휴일)C  72 non-null     int64
 21  진료시간(월요일)S  72 non-null     int64
 22  진료시간(화요일)S  72 non-null     int64
 23  진료시간(수요일)S  72 non-null     int64
 24  진료시간(목요일)S  72 non-null     int64
 25  진료시간(금요일)S  72 non-null     int64
 26  진료시간(토요일)S  72 non-null     int64
 27  진료시간(일요일)S  72 non-null     int64
 28  진료시간(공휴일)S  72 non-null     int64
 29  우편번호1       72 non-null     int64
 30  우편번호2       72 non-null     int64
 31  병원경도        72 non-null     float64
 32  병원위도        72 non-null     float64
 33  작업시간        72 non-null     object
dtypes: float64(2), int64(19), object(13)
memory usage: 19.3+ KB

In [3]:
# 컬럼 확인
emergency.columns

Index(['기관ID', '주소', '병원분류', '병원분류명', '응급의료기관코드', '응급의료기관코드명', '응급실운영여부', '비고',
       '기관설명상세', '간이약도', '기관명', '대표전화1', '응급실전화', '진료시간(월요일)C', '진료시간(화요일)C',
       '진료시간(수요일)C', '진료시간(목요일)C', '진료시간(금요일)C', '진료시간(토요일)C', '진료시간(일요일)C',
       '진료시간(공휴일)C', '진료시간(월요일)S', '진료시간(화요일)S', '진료시간(수요일)S', '진료시간(목요일)S',
       '진료시간(금요일)S', '진료시간(토요일)S', '진료시간(일요일)S', '진료시간(공휴일)S', '우편번호1',
       '우편번호2', '병원경도', '병원위도', '작업시간'],
      dtype='object')

- 주소, 간이약도, 기관명, 대표전화1, 응급실전화, 병원경도, 병원위도 컬럼만 사용

In [4]:
emergency = emergency[['주소', '비고', '간이약도', '기관명', '대표전화1', '응급실전화', '병원경도', '병원위도']]
emergency.rename(columns={
    '주소':'address', 
    '비고':'note', 
    '간이약도':'map', 
    '기관명':'name', 
    '대표전화1':'phone', 
    '응급실전화':'emergency_phone', 
    '병원경도':'longitude', 
    '병원위도':'latitude'}, inplace=True)
emergency.head()

,address,note,map,name,phone,emergency_phone,longitude,latitude
0,"서울특별시 영등포구 63로 10, 여의도성모병원 (여의도동)",휴게시간 13:00~14:00,샛강역 3번 출구,가톨릭대학교 여의도성모병원,02-1661-7575,02-3779-1188,126.936731,37.518272
1,서울특별시 은평구 통일로 1021 (진관동),휴게시간 13:00~14:00,샛강역 3번 출구,가톨릭대학교은평성모병원,02-1811-7755,02-1811-7755,126.916150,37.633608
2,서울특별시 관악구 관악로 242 (봉천동),응급실진료 07:00-24:00 08/15 광복절 휴무,서울대입구역 7번 출구 도보 5분,강남고려병원,1661-8267,02-874-7227,126.956782,37.485619
3,"서울특별시 강남구 선릉로 404, 더드림병원 (대치동)",응급실 00:00-24:00,한티역 1번출구 3분거리,강남더드림병원,02-1661-1177,070-4676-5002,127.050967,37.500990
4,"서울특별시 강남구 남부순환로 2649, 베드로병원 (도곡동)",외래 진료 운영시간 이외에는 응급의학과 전문의 근무,양재역 4번 출구 도보 5분 거리,강남베드로병원,1544-7522,1544-7522,127.039587,37.485612

In [5]:
emergency.isnull().sum()

address            0
note               2
map                0
name               0
phone              0
emergency_phone    0
longitude          0
latitude           0
dtype: int64

- 비고 null값 확인

In [6]:
emergency[emergency['note'].isnull()]

,address,note,map,name,phone,emergency_phone,longitude,latitude
17,서울특별시 중랑구 사가정로49길 53 (면목동),NaN,사가정역 1번 출구/까치어린이공원 옆,녹색병원,02-490-2000,02-490-2113,127.086055,37.583621
46,"서울특별시 강북구 도봉로 301 (수유동, 대한병원)",NaN,지하철 4호선 수유역 5번 출구역 정면방향 3분거리,의료법인성화의료재단대한병원,02-903-3232,02-905-9110,127.022673,37.635470

- null 값 > '없음'으로 대체

In [7]:
emergency['note'] = emergency['note'].fillna('없음')
emergency.isnull().sum()

address            0
note               0
map                0
name               0
phone              0
emergency_phone    0
longitude          0
latitude           0
dtype: int64

- 순수 도로명 주소만 추출

In [8]:
emergency['address'] = emergency.apply(lambda x: x['address'].split(',')[0].strip(), axis=1) # ',' 뒤 문자열 제거
emergency['address'] = emergency.apply(lambda x: x['address'].split('(')[0].strip(), axis=1) # '(**동)' 제거
emergency['address'].head()

0       서울특별시 영등포구 63로 10
1      서울특별시 은평구 통일로 1021
2       서울특별시 관악구 관악로 242
3       서울특별시 강남구 선릉로 404
4    서울특별시 강남구 남부순환로 2649
Name: address, dtype: object

In [9]:
emergency.head()

,address,note,map,name,phone,emergency_phone,longitude,latitude
0,서울특별시 영등포구 63로 10,휴게시간 13:00~14:00,샛강역 3번 출구,가톨릭대학교 여의도성모병원,02-1661-7575,02-3779-1188,126.936731,37.518272
1,서울특별시 은평구 통일로 1021,휴게시간 13:00~14:00,샛강역 3번 출구,가톨릭대학교은평성모병원,02-1811-7755,02-1811-7755,126.916150,37.633608
2,서울특별시 관악구 관악로 242,응급실진료 07:00-24:00 08/15 광복절 휴무,서울대입구역 7번 출구 도보 5분,강남고려병원,1661-8267,02-874-7227,126.956782,37.485619
3,서울특별시 강남구 선릉로 404,응급실 00:00-24:00,한티역 1번출구 3분거리,강남더드림병원,02-1661-1177,070-4676-5002,127.050967,37.500990
4,서울특별시 강남구 남부순환로 2649,외래 진료 운영시간 이외에는 응급의학과 전문의 근무,양재역 4번 출구 도보 5분 거리,강남베드로병원,1544-7522,1544-7522,127.039587,37.485612

In [10]:
emergency.to_csv('./Data/refined-emergency.csv', index=False, encoding='cp949')
print('저장완료')

저장완료

## 2. 서울시 버스정류소 위치정보 (서울 열린데이터 광장)
### 

- [서울시 버스정류소 위치정보](https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do)

- 서울특별시 교통정보과에서 제공하는 서울특별시 버스정류소 위치정보 (2022.04 기준)
- 정류소ID가 동일한 두 정류장의 정류소ID는 A,B로 구분 (16614A 김포공항국내선 / 16614B 서울식물원.숲문화학교)
- CSV 파일 특성으로 첫자리 "0"이 표현이 안됨, 정류소 코드 (ARS-ID) 는 5자리이고, (예시) "10123" - 정상, "1234" 4자리인 경우 앞자리에 "0"을 첨부하여 01234로 변환하여 사용할 것
- 좌표계: WGS84 (EPSG-5179)
- 최신수정일자	2025.02.06.
- 제공기관	서울특별시
- 컬럼정의
    - STDR_DE	기준일
    - NODE_ID	노드ID
    - STTN_NO	ARS-ID
    - STTN_NM	정류소명
    - CRDNT_X	X좌표
    - CRDNT_Y	Y좌표
    - STTN_TY 정류소 유형
        - 0 : 일반차로
        - 1 : 중앙차로
        - 2 : 일반중앙차로
        - 3 : 가로변전일
        - 4 : 가로변시간
        - 5 : 마을버스
        - 6 : 가상정류장

In [11]:
bus = pd.read_csv('./Data/서울시 버스정류소 위치정보.csv', encoding='cp949')
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11290 entries, 0 to 11289
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   노드 ID   11290 non-null  int64
 1   정류소번호   11290 non-null  int64
 2   정류소명    11290 non-null  object
 3   X좌표     11290 non-null  float64
 4   Y좌표     11290 non-null  float64
 5   정류소 타입  11290 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 529.3+ KB

In [12]:
bus.isnull().sum()

노드 ID     0
정류소번호     0
정류소명      0
X좌표       0
Y좌표       0
정류소 타입    0
dtype: int64

In [13]:
bus.head()

       노드 ID  정류소번호           정류소명         X좌표        Y좌표 정류소 타입
0  100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1  100000002   1002    창경궁.서울대학교병원  126.996522  37.579433   중앙차로
2  100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3  100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4  100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로

- 정류소번호, 정류소명, X좌표, y좌표 데이터만 활용
- 정류소번호는 맨 앞에 0을 붙여서 번호 형식을 통일시켜줌

In [14]:
bus = bus[['정류소번호', '정류소명', 'X좌표', 'Y좌표']] # 데이터 분리
bus = bus.rename(columns={'정류소번호': 'sttn_no', 
                        '정류소명': 'sttn_name', 
                        'X좌표': 'longitude', # 경도
                        'Y좌표': 'latitude'} # 위도
                        ) # 컬럼명 변경
bus.head()

   sttn_no      sttn_name   longitude   latitude
0     1001        종로2가사거리  126.987752  37.569808
1     1002    창경궁.서울대학교병원  126.996522  37.579433
2     1003      명륜3가.성대입구  126.998251  37.582581
3     1004       종로2가.삼일교  126.987613  37.568579
4     1005  혜화동로터리.여운형활동터  127.001744  37.586243

In [15]:
bus['sttn_no'] = bus['sttn_no'].astype(str) # str으로 변환
bus['sttn_no'] = bus.apply(lambda row:f"0{row['sttn_no']}"
                       if len(row)==4 else f"{row['sttn_no']}", axis=1) # 5자리로 통일
bus.head()

  sttn_no      sttn_name   longitude   latitude
0   01001        종로2가사거리  126.987752  37.569808
1   01002    창경궁.서울대학교병원  126.996522  37.579433
2   01003      명륜3가.성대입구  126.998251  37.582581
3   01004       종로2가.삼일교  126.987613  37.568579
4   01005  혜화동로터리.여운형활동터  127.001744  37.586243

In [16]:
# 정류소명에서 '.' > ' '로 변경
bus['sttn_name'] = bus['sttn_name'].str.replace('.', ' ')
bus.head()

  sttn_no      sttn_name   longitude   latitude
0   01001        종로2가사거리  126.987752  37.569808
1   01002    창경궁 서울대학교병원  126.996522  37.579433
2   01003      명륜3가 성대입구  126.998251  37.582581
3   01004       종로2가 삼일교  126.987613  37.568579
4   01005  혜화동로터리 여운형활동터  127.001744  37.586243

In [17]:
# 저장
bus.to_csv('./Data/refined-bus.csv', index=False, encoding='cp949')  
print('저장완료')

저장완료

## 3. 서울시 1-8호선 역사 좌표 정보 (공공데이터포털)

- [서울시 1-8호선 역사 좌표 정보](https://www.data.go.kr/data/15099316/fileData.do?recommendDataYn=Y)

- 서울교통공사 1-8호선 276개역 경위도 좌표(소숫점 6째자리까지) 정보
- 수정일	2024-11-29
- 제공기관	서울교통공사

In [18]:
subway = pd.read_csv('./Data/서울교통공사_1_8호선 역사 좌표(위경도) 정보_20241031.csv', encoding='cp949')
subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연번            276 non-null    int64
 1   호선            276 non-null    int64
 2   고유역번호(외부역코드)  276 non-null    int64
 3   역명            276 non-null    object
 4   위도            276 non-null    float64
 5   경도            276 non-null    float64
 6   작성일자          276 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 15.2+ KB

In [19]:
subway.head()

   연번  호선  고유역번호(외부역코드)    역명         위도          경도        작성일자
0   1   1           150    서울  37.553150  126.972533  1974-02-28
1   2   1           151    시청  37.563590  126.975407  1974-08-15
2   3   1           152    종각  37.570203  126.983116  1974-08-15
3   4   1           153  종로3가  37.570429  126.992095  1974-08-15
4   5   1           154  종로5가  37.570971  127.001900  1974-03-31

- 호선, 역명, 위도, 경도만 사용

In [20]:
subway = subway[['호선', '역명', '경도', '위도']]
subway = subway.rename(columns={
    '호선': 'sttn_line', 
    '역명': 'sttn_name', 
    '경도': 'longitude', 
    '위도': 'latitude'
    }) # 컬럼명 변경
subway.head()

   sttn_line sttn_name   longitude   latitude
0          1        서울  126.972533  37.553150
1          1        시청  126.975407  37.563590
2          1        종각  126.983116  37.570203
3          1      종로3가  126.992095  37.570429
4          1      종로5가  127.001900  37.570971

In [21]:
subway['sttn_line'] = subway['sttn_line'].astype(str) # str으로 변환
subway['sttn_line'] = subway.apply(
    lambda row:f"{row['sttn_line']}호선", axis=1) # +호선
subway['sttn_name'] = subway.apply(
    lambda row:f"{row['sttn_name']}역", axis=1) # +역

subway.head()

  sttn_line sttn_name   longitude   latitude
0       1호선       서울역  126.972533  37.553150
1       1호선       시청역  126.975407  37.563590
2       1호선       종각역  126.983116  37.570203
3       1호선     종로3가역  126.992095  37.570429
4       1호선     종로5가역  127.001900  37.570971

In [22]:
# 데이터 저장
subway.to_csv('./Data/refined-subway.csv', index=False, encoding='cp949')
print('저장완료')

저장완료