# EDA & 데이터 전처리

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "./Data/서울시 부동산 실거래가 정보(2022~2025).csv"
df = pd.read_csv(path, encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235671 entries, 0 to 235670
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              235671 non-null  int64
 1   자치구코드             235671 non-null  int64
 2   자치구명              235670 non-null  object
 3   법정동코드             235671 non-null  int64
 4   법정동명              235671 non-null  object
 5   지번구분              224553 non-null  float64
 6   지번구분명             224553 non-null  object
 7   본번                224555 non-null  object
 8   부번                224555 non-null  object
 9   건물명               224535 non-null  object
 10  계약일               235671 non-null  int64
 11  물건금액(만원)          235671 non-null  int64
 12  건물면적(㎡)           235671 non-null  float64
 13  토지면적(㎡)           230520 non-null  float64
 14  층                 224577 non-null  float64
 15  권리구분              1726 non-null    object
 16  취소일               12512 non-null   float64
 17  건축년도              234435 non-null  float64
 18  건물용도              235671 non-null  object
 19  신고구분              235433 non-null  object
 20  신고한 개업공인중개사 시군구명  193794 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 37.8+ MB

/var/folders/5p/79nsvsf97wd_rz32b3fftzh80000gn/T/ipykernel_56082/3562862516.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, encoding='cp949')

In [3]:
df.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2025,11320,도봉구,10600,방학동,1.0,대지,638.0,10.0,한신빌라(638-10),...,14800,37.66,16.00,4.0,NaN,NaN,1994.0,연립다세대,중개거래,서울 도봉구
1,2025,11380,은평구,10800,역촌동,NaN,NaN,NaN,NaN,NaN,...,39620,74.08,182.00,NaN,NaN,NaN,1972.0,단독다가구,직거래,NaN
2,2025,11500,강서구,10200,등촌동,1.0,대지,628.0,13.0,현대프린스텔,...,10300,26.16,35.71,6.0,NaN,NaN,1999.0,오피스텔,중개거래,서울 강서구
3,2025,11620,관악구,10200,신림동,1.0,대지,1639.0,51.0,푸리마타운,...,12700,18.70,26.16,8.0,NaN,NaN,2014.0,오피스텔,중개거래,서울 관악구
4,2025,11530,구로구,10600,고척동,1.0,대지,339.0,0.0,고척파크푸르지오,...,84000,59.89,0.00,9.0,NaN,NaN,2009.0,아파트,중개거래,"서울 구로구, 서울 양천구"

In [4]:
df.columns

Index(['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '권리구분', '취소일',
       '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명'],
      dtype='object')

## Null 값 확인

In [5]:
df.isnull().sum()

접수연도                     0
자치구코드                    0
자치구명                     1
법정동코드                    0
법정동명                     0
지번구분                 11118
지번구분명                11118
본번                   11116
부번                   11116
건물명                  11136
계약일                      0
물건금액(만원)                 0
건물면적(㎡)                  0
토지면적(㎡)               5151
층                    11094
권리구분                233945
취소일                 223159
건축년도                  1236
건물용도                     0
신고구분                   238
신고한 개업공인중개사 시군구명     41877
dtype: int64

### 접수연도

In [6]:
df['접수연도'].unique()

array([2025, 2024, 2023, 2022])

### 자치구명

In [7]:
# '자치구명'이 Null(NaN)인 행만 필터링
null_values = df[df['자치구명'].isnull()]

# 결과 출력
null_values

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
95928,2024,26230,NaN,10100,미아동,1.0,대지,,,2020년 2차 행복주택 입주자 모집,...,42450,72.13,0.0,5.0,분양권,NaN,0.0,아파트,중개거래,부산 부산진구

In [8]:
df[df['자치구코드'] == 26230]

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
95928,2024,26230,NaN,10100,미아동,1.0,대지,,,2020년 2차 행복주택 입주자 모집,...,42450,72.13,0.0,5.0,분양권,NaN,0.0,아파트,중개거래,부산 부산진구

In [9]:
df[df['법정동명']=='미아동'].head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
289,2025,11305,강북구,10100,미아동,1.0,대지,130.0,87.0,삼운빌라3차,...,17000,43.800,22.0,-1.0,NaN,NaN,1994.0,연립다세대,직거래,NaN
393,2025,11305,강북구,10100,미아동,1.0,대지,1353.0,0.0,에스케이북한산시티,...,74000,84.760,0.0,17.0,NaN,NaN,2004.0,아파트,중개거래,서울 강북구
400,2025,11305,강북구,10100,미아동,1.0,대지,1353.0,0.0,에스케이북한산시티,...,58000,59.980,0.0,6.0,NaN,NaN,2004.0,아파트,중개거래,서울 강북구
401,2025,11305,강북구,10100,미아동,1.0,대지,308.0,11.0,은혜쉐르빌,...,23750,39.630,24.0,3.0,NaN,NaN,2016.0,연립다세대,중개거래,서울 강북구
562,2025,11305,강북구,10100,미아동,1.0,대지,1356.0,0.0,경남아너스빌(1356-0),...,63000,59.964,0.0,19.0,NaN,NaN,2003.0,아파트,중개거래,서울 강북구

In [10]:
df.drop(df[df['자치구코드'] == 26230].index, inplace=True)

In [11]:
df[df['자치구코드'] == 26230]

Empty DataFrame
Columns: [접수연도, 자치구코드, 자치구명, 법정동코드, 법정동명, 지번구분, 지번구분명, 본번, 부번, 건물명, 계약일, 물건금액(만원), 건물면적(㎡), 토지면적(㎡), 층, 권리구분, 취소일, 건축년도, 건물용도, 신고구분, 신고한 개업공인중개사 시군구명]
Index: []

[0 rows x 21 columns]

- 자치구명 null값(1개) 확인해보니 자치구코드는 26230(부산), 법정동명은 미아동이라서 잘못된 데이터로 판단, 해당 행 제거

### 지번구분

In [12]:
# 지번 구분 확인
df['지번구분'].value_counts()

지번구분
1.0    224209
3.0       292
2.0        51
Name: count, dtype: int64

In [13]:
# 지번 구분명 확인
df['지번구분명'].value_counts()

지번구분명
대지    224209
블럭       292
산         51
Name: count, dtype: int64

In [14]:
null_values = df[df['지번구분'].isnull()]

In [15]:
null_values.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
1,2025,11380,은평구,10800,역촌동,NaN,NaN,NaN,NaN,NaN,...,39620,74.08,182.0,NaN,NaN,NaN,1972.0,단독다가구,직거래,NaN
55,2025,11290,성북구,13300,정릉동,NaN,NaN,NaN,NaN,NaN,...,41163,85.90,110.0,NaN,NaN,NaN,1985.0,단독다가구,중개거래,서울 성북구
91,2025,11560,영등포구,13200,신길동,NaN,NaN,NaN,NaN,NaN,...,80000,123.45,83.0,NaN,NaN,NaN,1992.0,단독다가구,직거래,NaN
264,2025,11410,서대문구,11000,북아현동,NaN,NaN,NaN,NaN,NaN,...,97180,26.45,59.0,NaN,NaN,NaN,1941.0,단독다가구,중개거래,"서울 마포구, 서울 서대문구"
433,2025,11320,도봉구,10600,방학동,NaN,NaN,NaN,NaN,NaN,...,34000,68.02,99.0,NaN,NaN,NaN,1985.0,단독다가구,중개거래,서울 도봉구

- 대지, 블럭, 산 > 지번구분/지번구분명 삭제 (이유는 나중에)

In [16]:
# 우선 자치구코드, 법정동 코드, 지번구분, 지번구분명 컬럼 제거
df_drop = df.drop(columns=['자치구코드', '법정동코드', '지번구분', '지번구분명'])
df_drop.head()

,접수연도,자치구명,법정동명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2025,도봉구,방학동,638.0,10.0,한신빌라(638-10),20250117,14800,37.66,16.00,4.0,NaN,NaN,1994.0,연립다세대,중개거래,서울 도봉구
1,2025,은평구,역촌동,NaN,NaN,NaN,20250117,39620,74.08,182.00,NaN,NaN,NaN,1972.0,단독다가구,직거래,NaN
2,2025,강서구,등촌동,628.0,13.0,현대프린스텔,20250117,10300,26.16,35.71,6.0,NaN,NaN,1999.0,오피스텔,중개거래,서울 강서구
3,2025,관악구,신림동,1639.0,51.0,푸리마타운,20250117,12700,18.70,26.16,8.0,NaN,NaN,2014.0,오피스텔,중개거래,서울 관악구
4,2025,구로구,고척동,339.0,0.0,고척파크푸르지오,20250117,84000,59.89,0.00,9.0,NaN,NaN,2009.0,아파트,중개거래,"서울 구로구, 서울 양천구"

In [17]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235670 entries, 0 to 235670
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              235670 non-null  int64
 1   자치구명              235670 non-null  object
 2   법정동명              235670 non-null  object
 3   본번                224554 non-null  object
 4   부번                224554 non-null  object
 5   건물명               224534 non-null  object
 6   계약일               235670 non-null  int64
 7   물건금액(만원)          235670 non-null  int64
 8   건물면적(㎡)           235670 non-null  float64
 9   토지면적(㎡)           230519 non-null  float64
 10  층                 224576 non-null  float64
 11  권리구분              1725 non-null    object
 12  취소일               12512 non-null   float64
 13  건축년도              234434 non-null  float64
 14  건물용도              235670 non-null  object
 15  신고구분              235432 non-null  object
 16  신고한 개업공인중개사 시군구명  193793 non-null  object
dtypes: float64(5), int64(3), object(9)
memory usage: 32.4+ MB

In [18]:
df_drop.isnull().sum()

접수연도                     0
자치구명                     0
법정동명                     0
본번                   11116
부번                   11116
건물명                  11136
계약일                      0
물건금액(만원)                 0
건물면적(㎡)                  0
토지면적(㎡)               5151
층                    11094
권리구분                233945
취소일                 223158
건축년도                  1236
건물용도                     0
신고구분                   238
신고한 개업공인중개사 시군구명     41877
dtype: int64

### 본번 / 부번

In [19]:
null_values = df[df['본번'].isnull()]
null_values.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
1,2025,11380,은평구,10800,역촌동,NaN,NaN,NaN,NaN,NaN,...,39620,74.08,182.0,NaN,NaN,NaN,1972.0,단독다가구,직거래,NaN
55,2025,11290,성북구,13300,정릉동,NaN,NaN,NaN,NaN,NaN,...,41163,85.90,110.0,NaN,NaN,NaN,1985.0,단독다가구,중개거래,서울 성북구
91,2025,11560,영등포구,13200,신길동,NaN,NaN,NaN,NaN,NaN,...,80000,123.45,83.0,NaN,NaN,NaN,1992.0,단독다가구,직거래,NaN
264,2025,11410,서대문구,11000,북아현동,NaN,NaN,NaN,NaN,NaN,...,97180,26.45,59.0,NaN,NaN,NaN,1941.0,단독다가구,중개거래,"서울 마포구, 서울 서대문구"
433,2025,11320,도봉구,10600,방학동,NaN,NaN,NaN,NaN,NaN,...,34000,68.02,99.0,NaN,NaN,NaN,1985.0,단독다가구,중개거래,서울 도봉구

In [20]:
null_index = df[df['본번'].isnull()].index
null_index

Index([     1,     55,     91,    264,    433,    458,    480,    510,    576,
          582,
       ...
       235626, 235630, 235632, 235637, 235638, 235640, 235642, 235645, 235666,
       235668],
      dtype='int64', length=11116)

In [21]:
null_index2 = df[df['부번'].isnull()].index
null_index2

Index([     1,     55,     91,    264,    433,    458,    480,    510,    576,
          582,
       ...
       235626, 235630, 235632, 235637, 235638, 235640, 235642, 235645, 235666,
       235668],
      dtype='int64', length=11116)

In [22]:
for i in range(len(null_index)):
    if null_index[i] != null_index2[i]:
        print(null_index[i], null_index2[i])

In [23]:
# 본번 null값인 행 = 부번 null값인 행
# 본번 / 부번이 없는 값의 건물명 확인
null_building = null_values['건물명'].isnull().value_counts()
null_building

건물명
True     11091
False       25
Name: count, dtype: int64

- 11091개는 본번+부번+건물명 다 null
- 25개는 확인필요

In [24]:
false_building_data = null_values[null_values['건물명'].notnull()]
false_building_data['건물명'].value_counts()

건물명
자연누리 오피스텔        19
힐스테이트 서초 젠트리스     6
Name: count, dtype: int64

- 해당 2건물의 본번 / 부번은 채우기로 함
- 서울특별시 서초구 신원동 662 -> 서초구 자연누리 오피스텔
- 서울특별시 서초구 신원동 557 -> 서초 힐스테이트 젠트리스

In [25]:
df_drop.loc[df_drop['건물명'] == '자연누리 오피스텔', '본번'] = 662
df_drop.loc[df_drop['건물명'] == '자연누리 오피스텔', '부번'] = 0
df_drop.loc[df_drop['건물명'] == '힐스테이트 서초 젠트리스', '본번'] = 557
df_drop.loc[df_drop['건물명'] == '힐스테이트 서초 젠트리스', '부번'] = 0

In [26]:
df_drop[df_drop['건물명'] == '자연누리 오피스텔']

,접수연도,자치구명,법정동명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
93042,2024,서초구,신원동,662,0,자연누리 오피스텔,20240127,16000,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
99829,2023,서초구,신원동,662,0,자연누리 오피스텔,20231223,16000,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
102580,2023,서초구,신원동,662,0,자연누리 오피스텔,20231201,16000,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 강남구
102724,2023,서초구,신원동,662,0,자연누리 오피스텔,20231130,16000,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 강남구
102884,2023,서초구,신원동,662,0,자연누리 오피스텔,20231129,15800,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
103197,2023,서초구,신원동,662,0,자연누리 오피스텔,20231127,16000,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 강남구
112586,2023,서초구,신원동,662,0,자연누리 오피스텔,20231004,15800,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
115561,2023,서초구,신원동,662,0,자연누리 오피스텔,20230916,16700,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
150442,2023,서초구,신원동,662,0,자연누리 오피스텔,20230415,16000,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
150464,2023,서초구,신원동,662,0,자연누리 오피스텔,20230415,15500,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
175599,2022,서초구,신원동,662,0,자연누리 오피스텔,20221020,17500,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
189071,2022,서초구,신원동,662,0,자연누리 오피스텔,20220711,18500,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
189105,2022,서초구,신원동,662,0,자연누리 오피스텔,20220711,18500,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
200999,2022,서초구,신원동,662,0,자연누리 오피스텔,20220521,18000,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,직거래,NaN
219778,2022,서초구,신원동,662,0,자연누리 오피스텔,20220311,17650,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,직거래,NaN
220898,2022,서초구,신원동,662,0,자연누리 오피스텔,20220305,17300,21.39,27.58,3.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 강남구
223570,2022,서초구,신원동,662,0,자연누리 오피스텔,20220221,19000,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,경기 성남수정구
226063,2022,서초구,신원동,662,0,자연누리 오피스텔,20220209,15500,21.39,27.58,2.0,NaN,NaN,2015.0,오피스텔,중개거래,서울 서초구
233053,2022,서초구,신원동,662,0,자연누리 오피스텔,20211231,24000,26.84,34.61,2.0,NaN,NaN,2015.0,오피스텔,중개거래,"서울 강남구, 서울 서초구"

In [27]:
df_drop[df_drop['건물명'] == '힐스테이트 서초 젠트리스']

,접수연도,자치구명,법정동명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
114408,2023,서초구,신원동,557,0,힐스테이트 서초 젠트리스,20230921,161000,84.95,0.0,5.0,NaN,NaN,2014.0,아파트,중개거래,서울 서초구
115527,2023,서초구,신원동,557,0,힐스테이트 서초 젠트리스,20230916,190000,101.90,0.0,3.0,NaN,NaN,2014.0,아파트,중개거래,서울 서초구
116920,2023,서초구,신원동,557,0,힐스테이트 서초 젠트리스,20230911,163000,84.99,0.0,5.0,NaN,NaN,2014.0,아파트,중개거래,서울 서초구
149620,2023,서초구,신원동,557,0,힐스테이트 서초 젠트리스,20230420,160000,84.95,0.0,2.0,NaN,NaN,2014.0,아파트,중개거래,서울 서초구
178235,2022,서초구,신원동,557,0,힐스테이트 서초 젠트리스,20220928,173000,84.95,0.0,8.0,NaN,NaN,2014.0,아파트,중개거래,서울 서초구
192313,2022,서초구,신원동,557,0,힐스테이트 서초 젠트리스,20220623,204000,101.90,0.0,5.0,NaN,NaN,2014.0,아파트,중개거래,서울 서초구

- 본번 & 부번 null 값 제거

In [28]:
df_drop.dropna(subset=['본번'], inplace=True)
df_drop.isnull().sum()

접수연도                     0
자치구명                     0
법정동명                     0
본번                       0
부번                       0
건물명                     45
계약일                      0
물건금액(만원)                 0
건물면적(㎡)                  0
토지면적(㎡)               5151
층                        3
권리구분                222854
취소일                 213363
건축년도                  1213
건물용도                     0
신고구분                   168
신고한 개업공인중개사 시군구명     40250
dtype: int64

In [29]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224579 entries, 0 to 235670
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              224579 non-null  int64
 1   자치구명              224579 non-null  object
 2   법정동명              224579 non-null  object
 3   본번                224579 non-null  object
 4   부번                224579 non-null  object
 5   건물명               224534 non-null  object
 6   계약일               224579 non-null  int64
 7   물건금액(만원)          224579 non-null  int64
 8   건물면적(㎡)           224579 non-null  float64
 9   토지면적(㎡)           219428 non-null  float64
 10  층                 224576 non-null  float64
 11  권리구분              1725 non-null    object
 12  취소일               11216 non-null   float64
 13  건축년도              223366 non-null  float64
 14  건물용도              224579 non-null  object
 15  신고구분              224411 non-null  object
 16  신고한 개업공인중개사 시군구명  184329 non-null  object
dtypes: float64(5), int64(3), object(9)
memory usage: 30.8+ MB

- 본번 + 부번 int로 변환

In [30]:
def to_int(value):
    value = str(value).split(".")[0].strip()
    return int(value) if value.isdigit() else pd.NA


df_drop["본번"] = df_drop["본번"].apply(to_int)
df_drop["부번"] = df_drop["부번"].apply(to_int)
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224579 entries, 0 to 235670
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              224579 non-null  int64
 1   자치구명              224579 non-null  object
 2   법정동명              224579 non-null  object
 3   본번                224579 non-null  int64
 4   부번                224579 non-null  int64
 5   건물명               224534 non-null  object
 6   계약일               224579 non-null  int64
 7   물건금액(만원)          224579 non-null  int64
 8   건물면적(㎡)           224579 non-null  float64
 9   토지면적(㎡)           219428 non-null  float64
 10  층                 224576 non-null  float64
 11  권리구분              1725 non-null    object
 12  취소일               11216 non-null   float64
 13  건축년도              223366 non-null  float64
 14  건물용도              224579 non-null  object
 15  신고구분              224411 non-null  object
 16  신고한 개업공인중개사 시군구명  184329 non-null  object
dtypes: float64(5), int64(5), object(7)
memory usage: 30.8+ MB

In [31]:
df_drop.head()

,접수연도,자치구명,법정동명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2025,도봉구,방학동,638,10,한신빌라(638-10),20250117,14800,37.66,16.00,4.0,NaN,NaN,1994.0,연립다세대,중개거래,서울 도봉구
2,2025,강서구,등촌동,628,13,현대프린스텔,20250117,10300,26.16,35.71,6.0,NaN,NaN,1999.0,오피스텔,중개거래,서울 강서구
3,2025,관악구,신림동,1639,51,푸리마타운,20250117,12700,18.70,26.16,8.0,NaN,NaN,2014.0,오피스텔,중개거래,서울 관악구
4,2025,구로구,고척동,339,0,고척파크푸르지오,20250117,84000,59.89,0.00,9.0,NaN,NaN,2009.0,아파트,중개거래,"서울 구로구, 서울 양천구"
5,2025,광진구,중곡동,73,70,욱현하이브(73-70),20250117,19800,44.96,33.00,3.0,NaN,NaN,2009.0,연립다세대,중개거래,서울 동작구

### 건물명

In [32]:
df_drop['건물명'].value_counts()

건물명
현대               851
헬리오시티            760
두산               743
파크리오             593
신동아              516
                ...
(170-7)            1
영진파크빌(437-26)      1
오름하우스              1
아성빌라(409-4)        1
(1691-17)          1
Name: count, Length: 36022, dtype: int64

- 건물명이 아닌 주소로 추정되는 값들이 적혀 있으므로 주소로 카카오 API에서 건물명 가져오는 것을 생각해 봄

### 계약일

In [33]:
df_drop['계약일'].value_counts().sort_index()

계약일
20090219      1
20130123      1
20160426      1
20160620      1
20170712      1
           ...
20250113     54
20250114    107
20250115     56
20250116     67
20250117     16
Name: count, Length: 1282, dtype: int64

- 계약일 기준으로 가격 예측 가능

In [69]:
realty.isnull().sum()

접수연도                     0
자치구코드                    0
자치구명                     1
법정동코드                    0
법정동명                     0
지번구분                 11118
지번구분명                11118
본번                   11117
부번                   11117
건물명                  11136
계약일                      0
물건금액(만원)                 0
건물면적(㎡)                  0
토지면적(㎡)               5151
층                    11094
권리구분                233945
취소일                 223159
건축년도                  1236
건물용도                     0
신고구분                   238
신고한 개업공인중개사 시군구명     41877
dtype: int64

In [70]:
realty.drop(
    columns=[
        "권리구분",
        "취소일",
        "신고한 개업공인중개사 시군구명",
        "지번구분",
        "지번구분명",
    ],
    inplace=True,
)
realty.dropna(inplace=True)
realty.isnull().sum()

접수연도        0
자치구코드       0
자치구명        0
법정동코드       0
법정동명        0
본번          0
부번          0
건물명         0
계약일         0
물건금액(만원)    0
건물면적(㎡)     0
토지면적(㎡)     0
층           0
건축년도        0
건물용도        0
신고구분        0
dtype: int64

In [71]:
realty.info()

<class 'pandas.core.frame.DataFrame'>
Index: 217974 entries, 0 to 235454
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   접수연도      217974 non-null  int64
 1   자치구코드     217974 non-null  int64
 2   자치구명      217974 non-null  object
 3   법정동코드     217974 non-null  int64
 4   법정동명      217974 non-null  object
 5   본번        217974 non-null  object
 6   부번        217974 non-null  object
 7   건물명       217974 non-null  object
 8   계약일       217974 non-null  int64
 9   물건금액(만원)  217974 non-null  int64
 10  건물면적(㎡)   217974 non-null  float64
 11  토지면적(㎡)   217974 non-null  float64
 12  층         217974 non-null  float64
 13  건축년도      217974 non-null  float64
 14  건물용도      217974 non-null  object
 15  신고구분      217974 non-null  object
dtypes: float64(4), int64(5), object(7)
memory usage: 28.3+ MB

In [ ]:
realty["건물명"].apply(len).gt(30).any()
# (realty["부번"] > 32767).any()
# realty[realty["지번구분"] == 2.0]

False