In [66]:
import pandas as pd
import numpy as np

In [67]:
path = "./Data/서울시 부동산 실거래가 정보(2022~2025).csv"
realty = pd.read_csv(path, encoding="cp949")
realty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235671 entries, 0 to 235670
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              235671 non-null  int64
 1   자치구코드             235671 non-null  int64
 2   자치구명              235670 non-null  object
 3   법정동코드             235671 non-null  int64
 4   법정동명              235671 non-null  object
 5   지번구분              224553 non-null  float64
 6   지번구분명             224553 non-null  object
 7   본번                224555 non-null  object
 8   부번                224555 non-null  object
 9   건물명               224535 non-null  object
 10  계약일               235671 non-null  int64
 11  물건금액(만원)          235671 non-null  int64
 12  건물면적(㎡)           235671 non-null  float64
 13  토지면적(㎡)           230520 non-null  float64
 14  층                 224577 non-null  float64
 15  권리구분              1726 non-null    object
 16  취소일               12512 non-null   float64
 17  건축년도              234435 non-null  float64
 18  건물용도              235671 non-null  object
 19  신고구분              235433 non-null  object
 20  신고한 개업공인중개사 시군구명  193794 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 37.8+ MB

C:\Users\ssair\AppData\Local\Temp\ipykernel_20180\2481356400.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  realty = pd.read_csv(path, encoding="cp949")

In [68]:
def to_int(value):
    value = str(value).split(".")[0].strip()
    return int(value) if value.isdigit() else pd.NA


realty["본번"] = realty["본번"].apply(to_int)
realty["부번"] = realty["부번"].apply(to_int)
# realty = realty.dropna()
realty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235671 entries, 0 to 235670
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              235671 non-null  int64
 1   자치구코드             235671 non-null  int64
 2   자치구명              235670 non-null  object
 3   법정동코드             235671 non-null  int64
 4   법정동명              235671 non-null  object
 5   지번구분              224553 non-null  float64
 6   지번구분명             224553 non-null  object
 7   본번                224554 non-null  object
 8   부번                224554 non-null  object
 9   건물명               224535 non-null  object
 10  계약일               235671 non-null  int64
 11  물건금액(만원)          235671 non-null  int64
 12  건물면적(㎡)           235671 non-null  float64
 13  토지면적(㎡)           230520 non-null  float64
 14  층                 224577 non-null  float64
 15  권리구분              1726 non-null    object
 16  취소일               12512 non-null   float64
 17  건축년도              234435 non-null  float64
 18  건물용도              235671 non-null  object
 19  신고구분              235433 non-null  object
 20  신고한 개업공인중개사 시군구명  193794 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 37.8+ MB

In [69]:
realty.isnull().sum()

접수연도                     0
자치구코드                    0
자치구명                     1
법정동코드                    0
법정동명                     0
지번구분                 11118
지번구분명                11118
본번                   11117
부번                   11117
건물명                  11136
계약일                      0
물건금액(만원)                 0
건물면적(㎡)                  0
토지면적(㎡)               5151
층                    11094
권리구분                233945
취소일                 223159
건축년도                  1236
건물용도                     0
신고구분                   238
신고한 개업공인중개사 시군구명     41877
dtype: int64

In [70]:
realty.drop(
    columns=[
        "권리구분",
        "취소일",
        "신고한 개업공인중개사 시군구명",
        "지번구분",
        "지번구분명",
    ],
    inplace=True,
)
realty.dropna(inplace=True)
realty.isnull().sum()

접수연도        0
자치구코드       0
자치구명        0
법정동코드       0
법정동명        0
본번          0
부번          0
건물명         0
계약일         0
물건금액(만원)    0
건물면적(㎡)     0
토지면적(㎡)     0
층           0
건축년도        0
건물용도        0
신고구분        0
dtype: int64

In [71]:
realty.info()

<class 'pandas.core.frame.DataFrame'>
Index: 217974 entries, 0 to 235454
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   접수연도      217974 non-null  int64
 1   자치구코드     217974 non-null  int64
 2   자치구명      217974 non-null  object
 3   법정동코드     217974 non-null  int64
 4   법정동명      217974 non-null  object
 5   본번        217974 non-null  object
 6   부번        217974 non-null  object
 7   건물명       217974 non-null  object
 8   계약일       217974 non-null  int64
 9   물건금액(만원)  217974 non-null  int64
 10  건물면적(㎡)   217974 non-null  float64
 11  토지면적(㎡)   217974 non-null  float64
 12  층         217974 non-null  float64
 13  건축년도      217974 non-null  float64
 14  건물용도      217974 non-null  object
 15  신고구분      217974 non-null  object
dtypes: float64(4), int64(5), object(7)
memory usage: 28.3+ MB

In [ ]:
realty["건물명"].apply(len).gt(30).any()
# (realty["부번"] > 32767).any()
# realty[realty["지번구분"] == 2.0]

False